<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618354486999-k8okp109f87jis7jsvcr7j44t5q6806v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618354486999-k8okp109f87jis7jsvcr7j44t5q6806v</string>
	<key>API_KEY</key>
	<string>AIzaSyDWtoJP8DIyuQ2ucCGOrBWmkoYrY66DFpU</string>
	<key>GCM_SENDER_ID</key>
	<string>618354486999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lm.shawl.prod</string>
	<key>PROJECT_ID</key>
	<string>shawl-f6d46</string>
	<key>STORAGE_BUCKET</key>
	<string>shawl-f6d46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618354486999:ios:e8b1dd634f7c12ba0c0a92</string>
</dict>
</plist>